{% extends 'base/base.html' %}



<!-- link -->
{% block link %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/post/style.css') }}">
{% endblock link %}
<!-- link /-->


<!-- script -->
{% block script_upper %}
{% endblock script_upper %}
<!-- script /-->


{% block navbar %}
{{ super() }}
{% endblock navbar %}


{% block app_content %}
<div class="container">
  <div class="mb-5">
    <h1 class="display-3">New Post</h1>
  </div>


  <!-- Upload Files -->
  <div class="shadow-sm mb-3 bg-body rounded-3">
    <div class="card">
      <div class="card-header">
        Upload
      </div>

      <div class="card-body">
        <form action="{{ url_for('admin_post.upload_files') }}" class="dropzone" id="upload-dropzone"
          name="uploadDropzone">
        </form>
      </div>

    </div>
  </div>
  <!-- Upload Files /-->

  <!-- Files -->
  <div class="shadow-sm mb-3 bg-body rounded-3">
    <div class="card">
      <div class="card-header">
        Files
      </div>

      <div class="card-body" id="uploaded-files">
      </div>

    </div>
  </div>
  <!-- Files /-->


  <div class="shadow-sm mb-3 bg-body rounded-3">
    <div class="card">
      <div class="card-header">
        Details
      </div>
      <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
          {{ form.hidden_tag() }}

          <div>
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </div>

          <div class="form-floating mb-3">
            {{ form.title(class_="form-control", id="fTitle-1") }}
            {{ form.title.label(for="fTitle-1") }}
          </div>

          <div>
            {% for error in form.description.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </div>

          <div class="form-floating mb-3">
            {{ form.description(class_="form-control", id="fTextArea-1",
            **{'style':'height: 150px'}) }}
            {{ form.description.label(for="fTextArea-1") }}
          </div>

          <div>
            {% for error in form.category.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </div>

          {# CATEGORY #}
          <div class="input-group mb-3">
            {{ form.category.label(class_="input-group-text", for="fSelect-1") }}
            {{ form.category(class_="form-select", id="fSelect-1") }}
          </div>

          <div class="d-grid gap-2">
            {{ form.submit(class_='btn btn-dark') }}
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
{% endblock app_content %}

{% block script_lower %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>
{% endblock script_lower %}