

{% extends 'base/base.html' %}

{% block navbar %}
{{ super() }}
{% endblock navbar %}

{% block app_content %}
<div class="container" id="category-container">
<div class="w-100 p-3">
<h1>New Category</h1>
</div>

<div class="w-100 p-3">
  <div class="shadow-lg p-3 mb-5 bg-body rounded-3 border border-1">
    <form id="category-form">
    {{ form.hidden_tag() }}

    <div class="form-floating mb-3">
    {{ form.name(class_="form-control", id="category-name") }}
    {{ form.name.label(for="category-name") }}
    </div>

    <div class="form-floating mb-3">
    {{ form.description(class_="form-control", id="category-description", **{'style':'height: 150px'}) }}
    {{ form.description.label(for="category-description") }}
    </div>

    <div class="d-grid gap-2">
    {{ form.submit(class_='btn btn-warning') }}
    </div>

    </form>
  </div>
</div>

<hr>

<table class="table table-hove">
<thead>
<tr>
<th scope="col">#</th>
<th scope="col">id</th>
<th scope="col">Name</th>
<th scope="col">Description</th>
<th scope="col">Slug</th>
<th scope="col">Edit/Delete</th>
</tr>
</thead>
<tbody id="category-list">
<!-- Dynamic Content -->
</tbody>
</table>
</div>

{% endblock app_content %}

{% block script_lower %}
<script src="{{ url_for('static', filename='js/admin/category/app.js') }}"></script>
{% endblock script_lower %}