{% extends 'base/base.html' %}

<!-- link -->
{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth/style.css') }}">
{% endblock link %}
<!-- link /-->


<!-- script -->
{% block script_upper %}
<script>
  var password = document.getElementById("password")
    , confirm_password = document.getElementById("confirm_password");

  function validatePassword() {
    if (password.value != confirm_password.value) {
      confirm_password.setCustomValidity("Passwords Don't Match");
    } else {
      confirm_password.setCustomValidity('');
    }
  }

  password.onchange = validatePassword;
  confirm_password.onkeyup = validatePassword;
</script>
{% endblock script_upper %}
<!-- script /-->

{% block navbar %}
{{ super() }}
{% endblock navbar %}

{% block app_content %}
<div class="container" id="register-container">

  <h1 class="display-3 mb-5">Register</h1>

  <div class="shadow-sm p-3 mb-5 bg-body rounded-3 border border-1">
    <form action="{{ url_for('auth.register') }}" method="post">
      {{ form.hidden_tag() }}
      <div>
        {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-floating mb-3">
        {{ form.username(class_='form-control') }}
        {{ form.username.label(class_='form-label') }}
      </div>
      <div>
        {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-floating mb-3">
        {{ form.email(class_='form-control') }}
        {{ form.email.label(class_='form-label') }}
      </div>
      <div>
        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-floating mb-3">
        {{ form.password(class_='form-control') }}
        {{ form.password.label(class_='form-label') }}
      </div>
      <div>
        {% for error in form.confirm_password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-floating mb-3">
        {{ form.confirm_password(class_='form-control') }}
        {{ form.confirm_password.label(class_='form-label') }}
      </div>
      <div class="d-grid gap-2">
        {{ form.submit(class_='btn btn-dark') }}
      </div>
    </form>
  </div>
  <br />
  <p class="fs-6"><small>New User: </small><a href="{{ url_for('auth.login') }}" class="link-dark">Click to Login</a>
  </p>
  <p class="fs-6"><small>Forgot Your Password? </small><a href="#" class="link-dark">Click to Reset It</a></p>
</div>

{% endblock app_content %}