{% extends 'base/base.html' %}



<!-- link -->
{% block link %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/post/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/base/rich-text-editor.css') }}">
{% endblock link %}
<!-- link /-->


<!-- script -->
{% block script_upper %}
{% endblock script_upper %}
<!-- script /-->


{% block navbar %}
{{ super() }}
{% endblock navbar %}


{% block app_content %}
<div class="container" id="post-container">
  <div class="mb-5">
    <h1 class="display-3 mb-5">New Post</h1>
  </div>

  <!-- Upload Files -->
  <div class="shadow-sm mb-3 bg-body rounded-3">
    <div class="card">
      <div class="card-header h6">Upload</div>
      <div class="card-body">
        <!-- Dropzone -->
        <form action="{{ url_for('admin_post.upload_files') }}"
              class="dropzone post-dropzone"
              id="post-dropzone-container"
              enctype="multipart/form-data">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        </form>
        <!-- Dropzone  /-->
      </div>
    </div>
  </div>
  <!-- Upload Files /-->

  <!-- Files -->
  <div class="shadow-sm mb-3 bg-body rounded-3">
    <div class="card">
      <div class="card-header h6">Files</div>

      <div class="card-body" id="uploaded-files">
        <!-- Dynamic Content -->
      </div>

    </div>
  </div>
  <!-- Files /-->

  <!-- Details -->
  <div class="shadow-sm mb-3 bg-body rounded-3">
    <div class="card">
      <div class="card-header h6">Details</div>
      <div class="card-body">

        <form method="POST" id="new-post-form">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

          <div class="form-floating mb-3">
            {{ form.title(class_="form-control", id="fTitle-1") }}
            {{ form.title.label(for="fTitle-1") }}
          </div>

          <div class="form-floating mb-3">
            {{ form.description(id="fTextArea-1", placeholder="Description") }}
          </div>

          <div class="input-group mb-3">
            {{ form.category.label(class_="input-group-text", for="categorySelect") }}
            {{ form.category(class_="form-select", id="categorySelect") }}
          </div>

          <div class="d-flex justify-content-end">
            <div class="order-1 pe-1">{{ form.save(class_='btn btn-warning') }}</div>
            <div class="order-2">{{ form.submit(class_='btn btn-dark') }}</div>
          </div>

        </form>
      </div>

    </div>
  </div>
  <!-- Details /-->

</div>
{% endblock app_content %}

{% block script_lower %}
<script>let currentUser = '{{ current_user|tojson }}';</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>
<script src="{{ url_for('static', filename='js/base/rich-text-editor.js') }}"></script>
<script src="{{ url_for('static', filename='js/admin/post/post.js') }}"></script>
<script>let editor = new RTE(document.getElementById('fTextArea-1'));</script>
{% endblock script_lower %}