

<!doctype html>
<html lang="en">
  <!-- head -->
  <head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}
    {% endblock meta %}
    <!-- meta /-->

    <!-- link -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" 
    crossorigin="anonymous">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    {% block link %}
    {% endblock link %}
    <!-- link /-->

    <!-- script -->
    {% block script_upper %}
    {% endblock script_upper %}
    <!-- script /-->

    <!-- title -->
    {% block title %}
      {% if title %}
        <title>Blueprint | {{ title }}</title>
      {% else %}
        <title>Welcome to Blueprint</title>
      {% endif %}
    {% endblock title %}
    <!-- title /-->
  </head>
  <!-- head /-->

  <!-- body -->
  <body>
    <!-- navbar -->
    {% block navbar %}
    {% include "base_navbar.html" %}
    {% endblock navbar %}
    <!-- navbar /-->

    <!-- content -->
    {% block content %}
    <div class="container mt-5">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        <!-- app_content -->
        {% block app_content %}
        {% endblock app_content %}
        <!-- app_content /-->
    </div>
    {% endblock content %}
    <!-- content /-->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" 
    crossorigin="anonymous"></script>
    {% block script_lower %}
    {% endblock script_lower %}
  </body>
  <!-- body /-->

</html>