

<nav class="navbar sticky-top rounded-bottom navbar-expand-sm navbar-light bg-warning">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('main.index') }}">Mongo</a>
    <button class="navbar-toggler" type="button" 
    data-bs-toggle="collapse" 
    data-bs-target="#navbarSupportedContent" 
    aria-controls="navbarSupportedContent" 
    ria-expanded="false" 
    aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if request.url_rule.endpoint == 'main.index' %}active{% endif %}" 
          aria-current="page" href="{{ url_for('main.index') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.url_rule.endpoint == 'contact.index' %}active{% endif %}"
           href="{{ url_for('contact.index') }}">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.url_rule.endpoint == 'about.index' %}active{% endif %}"
           href="{{ url_for('about.index') }}">About</a>
        </li>

        {% if session['user'] %}
        <!-- Dropdown User -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" 
          role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ session['user']['username']|capitalize }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" 
                   href="{{ url_for('user.profile', slug=session['user']['slug']) }}">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a></li>
          </ul>
        </li>
        <!-- Dropdown User /-->
        {% else %}
        <!-- Dropdown Anonymous -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" 
          role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Account
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ url_for('auth.login') }}">Login</a></li>
            <li><a class="dropdown-item" href="{{ url_for('auth.register') }}">Register</a></li>
          </ul>
        </li>
        <!-- Dropdown Anonymous /-->
        {% endif %}
        
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>